*, html {
    margin:0;
    padding:0;  
}

* {
    box-sizing: border-box;
}

.nav {
    background-color:   #f1f5f8;
    /* padding: 1.25rem 2rem; */
    margin: 0;
    width: 100vw;

    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-center {
    background-color:   #f1f5f8;
    width: 100%;
    margin: 0 auto;
    padding: .8rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    z-index: 1;*/
    border: 3px #5fb7ea solid; 
    box-sizing: border-box;
    
}

.nav-container {
    background-color:   #f1f5f8;
}

.nav svg {
    width: 2rem;
    fill: black;
}

.nav-container {
    display: block;
    position: relative;
    
  }

.amount-container {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background:  #f1f5f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellphone {
    font-family: Open Sans,sans-serif!important;
    letter-spacing: .5rem;
    font-weight: 700;
}

.total-amount {
    color: red;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.cart-icon {
    font-size: 2rem;
    cursor: pointer;
}







